body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url('https://github.com/antoniomelin/atencion-clientes/blob/main/fondo_frio.png?raw=true') no-repeat center center fixed;
  background-size: cover;
}

.container {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 1.5em;
  width: 400px;
  text-align: center;
  position: relative;
  top: 2em;
  transform: translateY(10%);
  margin-bottom: 2em;
}

.logo {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}

h1 {
  font-size: 1.5em;
  margin: 1em 0;
  color: #333333;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 0.5em;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.option {
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.option:hover {
  background-color: #003974;
  transform: scale(1.05);
}

.tracking-container {
  background: #c9c9c9;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 1em 1.5em;
  width: 400px;
  text-align: center;
  margin-top: 3em; /* Mayor margen superior */
  margin-bottom: 2em; /* Agregar margen inferior */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.tracking-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.tracking-input {
  flex: 1;
  padding: 0.75em;
  font-size: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  box-sizing: border-box;
}

.tracking-button {
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.tracking-button::before {
  content: '\2192'; /* Unicode arrow */
  font-size: 1.2em;
}

.tracking-button:hover {
  background-color: #003974;
}

.admin-icon {
  margin-top: 2em;
  text-align: center;
}

.admin-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.form-container {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 2em 2.5em;
  width: 400px;
  margin: 2em auto;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #333333;
}

form input, form select, form textarea {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  font-size: 1em;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

form button {
  padding: 0.75em 1.5em;
  font-size: 1em;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #003974;
}

form button[type="button"] {
  background-color: #ccc;
  color: #333;
}

form button[type="button"]:hover {
  background-color: #bbb;
}

.required {
  color: red;
}

/* Ajustes para el contenedor de seguimiento en pantallas pequeñas */
@media (max-width: 768px) {
  .tracking-container {
    margin-top: 3em; /* Mayor separación */
    margin-bottom: 3em; /* Espaciado adicional */
    padding: 0.75em 1em; /* Menor padding */
    width: 80%; /* Menor ancho */
  }

  .container {
    margin-top: 2em; /* Separación del contenedor principal */
    margin-bottom: 2em; /* Espaciado adicional */
    width: 80%; /* Menor ancho */
    padding: 1em; /* Reducir padding */
  }

  h1 {
    font-size: 1.2em; /* Reduce el tamaño del título */
  }

  .logo {
    top: -180px; /* Ajusta la posición del logo */
    width: 120px;
  }
}

@media (max-width: 480px) {
  .tracking-container {
    margin-top: 2em; /* Ajuste para pantallas muy pequeñas */
    margin-bottom: 2em;
    padding: 0.5em; /* Reducir aún más el padding */
    width: 75%; /* Contenedor más angosto */
  }

  .container {
    width: 75%; /* Más pequeño aún */
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em; /* Menor padding */
  }

  h1 {
    font-size: 1em; /* Reduce aún más el tamaño del título */
  }

  .logo {
    top: -180px; /* Ajusta la posición del logo */
    width: 120px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
  color: #333333; /* Texto gris oscuro */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  padding: 0.5em 1em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  z-index: 1000; /* Siempre visible sobre otros elementos */
}
