/* Fondo y cuerpo principal */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Cambiado para alinear el contenido desde arriba */
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url('https://github.com/antoniomelin/atencion-clientes/blob/main/fondo_frio.png?raw=true') no-repeat center center fixed;
  background-size: cover;
}

/* Header transparente */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  padding: 0.5em 0;
  z-index: 1000;
  height: auto;
}

/* Logo adaptable */
.logo {
  width: 150px;  
  height: auto;
  transition: all 0.3s ease;
  margin-top: 1em;
}

/* Contenedor principal */
.container {
  background: rgba(201, 201, 201, 0.6);
  border: 1px solid rgba(201, 201, 201, 0.7);
  border-radius: 8px;
  padding: 1.5em;
  width: 350px; 
  text-align: center;
  margin-top: 10em; /* Suficiente margen para evitar que el logo se superponga */
  margin-bottom: 2em;
}

h1 {
  font-size: 1.4em;
  margin: 1em 0;
  color: #333333;
  font-weight: bold;
}

/* Botones de opciones */
.option-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.option {
  padding: 0.75em 1.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: #0c3273;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.option:hover {
  background-color: #0a285a;
  transform: scale(1.05);
}

/* Contenedor de seguimiento */
.tracking-container {
  background: rgba(201, 201, 201, 0.6);
  border: 1px solid rgba(201, 201, 201, 0.7);
  border-radius: 8px;
  padding: 1em 1.5em;
  width: 350px; 
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Icono de administración */
.admin-icon {
  margin-top: 2em;
  text-align: center;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  color: #333333;
  font-size: 0.7em;
  padding: 0.5em 1em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsivo */
@media (max-width: 768px) {
  .logo {
    width: 120px; 
  }

  .container, .tracking-container {
    width: 85%; 
    padding: 1.2em;
    margin-top: 12em; /* Mayor margen para evitar colisión con el logo */
  }

  h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px), (max-height: 500px) {
  .logo {
    width: 90px;
    margin-top: 0.5em;
  }

  .container, .tracking-container {
    width: 90%;
    padding: 1em;
    margin-top: 14em; /* Ajustar margen para evitar solapamientos */
  }

  h1 {
    font-size: 1em;
  }
}
