/* Header transparente con logo centrado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  padding: 1em 0;
  z-index: 1000;
}

/* Logo del header */
.logo {
  width: 150px;  
  height: auto;
  transition: all 0.3s ease;
  margin-top: 0.5em;
}

/* Fondo y cuerpo principal */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url('../images/fondo_frio.png') no-repeat center center fixed;
  background-size: cover;
}

/* Contenedor principal del login */
.login-container {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(224, 224, 224, 0.85);
  border-radius: 8px;
  padding: 2em 2.5em;
  width: 350px; 
  margin: 8em auto 0; /* Mueve hacia abajo el formulario con respecto al logo */
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h1 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1.5em;
  font-weight: bold;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos del formulario horizontalmente */
}

form label {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #333333;
  width: 100%; /* Asegura que los labels ocupen el ancho completo */
  text-align: left; /* Alinea los labels a la izquierda */
}

form input {
  width: 100%; /* Hace que los inputs ocupen todo el ancho del formulario */
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  font-size: 1em;
}

input:focus {
  outline: none;
  border-color: #0c3273;
}

/* Botón de login */
form button {
  width: 100%; /* Hace que el botón sea del mismo ancho que los inputs */
  padding: 0.75em 1.5em;
  font-size: 1em;
  color: white;
  background-color: #0c3273;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0a285a;
}

/* Mensaje de error */
.error-message {
  color: red;
  margin-bottom: 1em;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

/* Responsivo */
@media (max-width: 768px) {
  .login-container {
    width: 85%;
    padding: 1.5em;
  }

  h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 1em;
  }

  h1 {
    font-size: 1em;
  }
}
